
/* General Styling */

body {
    display: grid;
    color: #E2CEAA;
    background-color: #936853;
    gap: 3em;
}
html {
    font-size: 62.5%;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style-type: none;
    display: inherit;
}
h1 {
    font-size: 2.6rem;
    text-transform: capitalize;
}

/* Header styling */
.logo {
    opacity: .5;
    justify-self: center;
    align-self: center;
}
header {
    display: grid;
    background-color: #3F3E14;
    grid-column: 1 / -1;
    grid-row: 1 / 1;
    grid-template-columns: 1fr 3fr;
    justify-items: center;
    align-items: center;

}
.nav {
    display: flex;
    justify-content: space-around;
    width: 100%;

}

.nav-item {
    text-transform: uppercase; 
    flex-direction: row;
    font-size: 1.4rem;
    margin: 0 auto;
    flex: 1;
    text-align: center;
    padding: 10px;

}

/* Hero styling */

.hero {
    display: flex;
    margin: 0 auto;
    font-size: 1.6rem;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.hero img {
    opacity: 0.75;
    border-radius: 15px;
}

.hero-text {
    border: 3px solid #988F55;
    border-radius: 15px;
    padding: 1em;
}
.resources {

}
aside {

}
footer {

    background-color: #3F3E14;
}


